/* RESET DEFAULT */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENITORE */
div {
    border: 1px solid black;
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* CAMPO FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

/* INPUT DI SCRITTURA */
input {
    width: 400px;
}

/* BOTTONE INVIA */
button {
    padding: 5px 10px;
    background-color: #d2691e93;
}


